<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BraTS 2018 Demo</title>
    
    {% load static %}
</head>
<body>
    <div id="upload-form">
        <h3>Upload MRIs</h3>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div id="scan-list">
        <h3>MRI Scans</h3>
        <ul>
            {% for scan in scans %}
            <li>{{ scan.case_id }}
                <button class="infer-btn" data-case-id="{{ scan.case_id }}" data-id="{{ scan.id }}">Infer</button>
                <button class="view-btn" data-case-id="{{ scan.case_id }}" data-id="{{ scan.id }}">View 3D</button>
                <button class="delete-btn" data-case-id="{{ scan.case_id }}" data-id="{{ scan.id }}">Delete</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <script>
        const HOSTNAME = '{{ request.get_host }}'
        const RESTfulAPIS = {
            "get_scans": "{% url 'brats_3D_viewer:get_scans' %}",
            "delete": "{% url 'brats_3D_viewer:delete' 999 %}"
        }
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'brats_3D_viewer/scripts.js' %}"></script>
</body>
</html>